 <h1>Dashboard</h1><hr>

     
   <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6 col-md-6">
                <div class="panel" style="background-color: #007BFF; color: white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class=""></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">10</div>
                                <div>Total Employee</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-block" (click)="goBack()">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel " style="background-color: #DC3545; color: white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class=""></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">34</div>
                                <div>Current Student</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-block" (click)="goBack2()">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel" style="background-color: #28A745; color: white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class=""></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">10</div>
                                <div>Total Rooms</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-block" (click)="goBack3()">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="panel" style="background-color: #FFC107; color: white">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class=""></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">50</div>
                                <div>Today's Meal</div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-block" (click)="goBack4()">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
        	<!-- <h3 class="bg-info text-center" style="padding: 20px; margin-top: 30px">{{date}}</h3> -->
<!-- 

            <h1 class="title">Calendar</h1>
<div id="container" class="calendar-container"></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="assets/../jquery.simple-calendar.js"></script>
<script>

</script> -->

<!-- <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;hl=nl&amp;bgcolor=%23FFFFFF&amp;src=example.be_cpkbjcpttgb5q0%40group.calendar.google.com&amp;color=%23ffcf03&amp;ctz=Europe%2FBrussels" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
 -->

 <div class="responsiveCal">
 
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;" style="border-width:0" width="200" height="300" frameborder="0" scrolling="no"></iframe>
</div>

        </div>
    

    </div>
